@use "@/theme/helpers/_vars.scss" as *;

body {
  // https://web.dev/font-display/
  font-family: var(--font-family);
  // font-size: 1rem; // rem is relative to the font-size of the root element
  line-height: 1.4; // unitless vertical rhythm
  color: var(--text-color);
  font-display: optional;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media screen and (max-width: $breakpoint-sm) {
    font-size: 0.875rem;
  }
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0 0 0.5rem 0;
  padding: 0;
}

h1 {
  font-size: 3.125rem;
  font-weight: 700;
}
h2 {
  font-size: 2.125rem;
  font-weight: 300;
}
h3 {
  font-size: 2rem;
  font-weight: 300;
}
h4 {
  font-size: 1.5rem;
  font-weight: 300;
}
h5 {
  font-size: 1.5rem;
  font-weight: 300;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
